# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

NEXT_PUBLIC_APP_URL="http://localhost:3000/"

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL="postgresql://postgres:postgres@localhost:54322/postgres"

# Supabase
NEXT_PUBLIC_SUPABASE_URL="http://localhost:54321"
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""